<a href="/forum/" class="forum-title">My Forum</a>

<div class="navigator">
    <% if(typeof pages != 'undefined' && isNaN(pages) == false) { %>
    <div class="navigator-pagination">
        <a href="javascript://">&#171;</a>
        <a href="javascript://">&#187;</a>
    </div>
    <% } %>

    <div class="navigator-search">
        <form method="post" action="/forum/search/">
            <input id="navigator-search-input" name="phrase" placeholder="Enter a searchterm..." type="text">
            <button type="submit">&#8981;</button>
        </form>
    </div>
</div>