<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/forum_static/styles/style.css"/>
</head>
<body>

<div id="forum">
    <%- include partials/header.ejs %>
    <a href="/forum/" class="category-title">Category 1</a>

    <a href="/forum/category/1/thread/1" class="thread-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Thread 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1/thread/1" class="thread-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Thread 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1/thread/1" class="thread-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Thread 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1/thread/1" class="thread-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Thread 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
</div>

</body>
</html>