<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/forum_static/styles/style.css"/>
</head>
<body>

<div id="forum">
    <%- include partials/header.ejs %>
    <div class="category-title">Categories</div>

    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>

    <h2 class="category-title">More Categories</h2>

    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
    <a href="/forum/category/1" class="category-link">
        <img src="http://placehold.it/32x32" alt=""/>
        <h3>Category 1</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing. </span>
    </a>
</div>

</body>
</html>