<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/forum_static/styles/style.css"/>
</head>
<body>

<div id="forum">
    <%- include partials/header.ejs %>
    <div class="search-title">Searching</div>

    <img src="" alt="Loading..."/>
    <div class="search-wait">Please wait while we prepare the search results</div>
</div>

</body>
</html>