<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/forum_static/styles/style.css"/>
</head>
<body>

<div id="forum">
    <%- include partials/header.ejs %>
    <div class="thread-title"><a href="/forum/category/1/" class="category-title">Category 1</a> -
        <span>Lorem Ipsum</span></div>

    <div class="posts">
        <div class="post">
            <div class="post-user">
                <img src="http://placehold.it/64x64" alt=""/>
                <a href="/forum/user/1/">Lorem Ipsum</a>
            </div>
            <div class="post-data">
                <div class="post-meta">3-11-2016</div>
                <div class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla
                    commodo
                    arcu,
                    vel fringilla mi pellentesque quis. Aenean mattis dolor euismod, ullamcorper tellus ac, tempus
                    purus.
                    Phasellus eget nunc eget libero tempus malesuada in nec dui. Cum sociis natoque penatibus et magnis
                    dis
                    parturient montes, nascetur ridiculus mus. Ut et arcu ac augue suscipit bibendum at id elit. Sed
                    accumsan
                    lectus dignissim lacus consequat lacinia. Class aptent taciti sociosqu ad litora torquent per
                    conubia
                    nostra, per inceptos himenaeos. Donec vestibulum lorem vel diam lacinia, vitae mattis urna
                    efficitur.
                </div>
            </div>
        </div>
        <div class="post">
            <div class="post-user">
                <img src="http://placehold.it/64x64" alt=""/>
                <a href="/forum/user/1/">Lorem Ipsum</a>
            </div>
            <div class="post-data">
                <div class="post-meta">3-11-2016</div>
                <div class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla
                    commodo
                    arcu,
                    vel fringilla mi pellentesque quis. Aenean mattis dolor euismod, ullamcorper tellus ac, tempus
                    purus.
                </div>
            </div>
        </div>
        <div class="post">
            <div class="post-user">
                <img src="http://placehold.it/64x64" alt=""/>
                <a href="/forum/user/1/">Lorem Ipsum</a>
            </div>
            <div class="post-data">
                <div class="post-meta">3-11-2016</div>
                <div class="post-content">
                    <div class="post-quote">
                        <div class="post-quote-author">Posted by Lorem Ipsum on 3-11-2016</div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla commodo
                        arcu,
                        vel fringilla mi pellentesque quis. Aenean mattis dolor euismod, ullamcorper tellus ac, tempus
                        purus.
                        Phasellus eget nunc eget libero tempus malesuada in nec dui. Cum sociis natoque penatibus et
                        magnis
                        dis
                        parturient montes, nascetur ridiculus mus. Ut et arcu ac augue suscipit bibendum at id elit. Sed
                        accumsan
                        lectus dignissim lacus consequat lacinia. Class aptent taciti sociosqu ad litora torquent per
                        conubia
                        nostra, per inceptos himenaeos. Donec vestibulum lorem vel diam lacinia, vitae mattis urna
                        efficitur.
                    </div>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla commodo arcu,
                    vel fringilla mi pellentesque quis. Aenean mattis dolor euismod, ullamcorper tellus ac, tempus
                    purus.
                </div>
            </div>
        </div>
    </div>

    <div class="reply-create">
        <div class="reply-title">Reply to thread</div>
        <form method="post">
            <input type="hidden" name="reply-threadId" value="1"/>
            <textarea name="reply-content" class="reply-content"></textarea>
            <input type="submit" name="reply-submit" class="reply-submit" value="Reply"/>
        </form>
    </div>

</div>

</body>
</html>