<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/forum_static/styles/style.css"/>
</head>
<body>

<div id="forum">
    <%- include partials/header.ejs %>
    <div class="user-title">User Lorem Ipsum</div>

    <div class="user-info">
        <img src="http://placehold.it/256x256" alt="" class="user-info-image"/>

        <div class="user-info-latest">
            <div class="user-info-latest-posts">
                <div class="user-info-latest-title">Latest Posts</div>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
            </div>

            <div class="user-info-latest-threads">
                <div class="user-info-latest-title">Latest Threads</div>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
            </div>

            <div class="user-info-latest-unknown">
                <div class="user-info-latest-title">Latest Unknown</div>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
                <a href="javascript://" class="user-info-latest-entry">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>