html, body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Arial', sans-serif;
}

input {
    font-family: 'Arial', sans-serif;
}

*:focus, *::-moz-focus-inner {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    -webkit-backface-visibility: hidden;
    will-change: transform;
    animation: spin 1s linear infinite;
    vertical-align: middle;
}

#forum {
    width: 960px;
    margin: 0 auto;
}

.forum-title {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.category-title {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.thread-title {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.thread-title > .category-title {
    display: inline-block;
}

.thread-title > span {
    display: inline-block;
}

.thread-title:after {
    display: table;
    content: '';
    clear: both;
}

.user-title {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.reply-title {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navigator {

}

.navigator-pagination {
    float: left;
}

.navigator-search {
    float: right;
}

.navigator:after {
    display: table;
    content: '';
    clear: both;
}

.navigator-pagination > a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 6px;
    color: #7f8c8d;
    border: 1px solid #ecf0f1;
    border-right: 0;
    min-width: 35px;
    text-align: center;

    transition: background 0.3s;
}

.navigator-pagination > a:hover {
    background-color: #ecf0f1;
}

.navigator-pagination > a:last-child {
    border-right: 1px solid #ecf0f1;
}

.navigator-search input {
    color: #7f8c8d;
    border: 1px solid #ecf0f1;
    border-right: none;
    margin: 0;
    display: block;
    float: left;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}

.navigator-search button {
    float: right;
    background-color: #2980b9;
    border: none;
    padding: 0;
    margin: 0;
    height: 35px;
    color: white;
    cursor: pointer;
    width: 35px;
    transition: background 0.3s;
}

.navigator-search button:hover {
    background-color: #3498db;
}

.category-link {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ecf0f1;

    text-decoration: none;
    color: #100000;

    transition: background 0.3s;
}

.category-link:after {
    display: table;
    content: '';
    clear: both;
}

.category-link:hover {
    background-color: #ecf0f1;
}

.category-link > img {
    float: left;
    margin-right: 20px;
}

.category-link > h3 {
    font-size: 15px;
    margin: 0;
}

.category-link > span {
    width: 100%;
    font-size: 12px;
}

.thread-link {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-bottom: 0;

    text-decoration: none;
    color: #100000;

    transition: background 0.3s;
}

.thread-link:last-child {
    border-bottom: 1px solid #ecf0f1;
}

.thread-link:after {
    display: table;
    content: '';
    clear: both;
}

.thread-link:hover {
    background-color: #ecf0f1;
}

.thread-link > img {
    float: left;
    margin-right: 20px;
}

.thread-link > h3 {
    font-size: 15px;
    margin: 0;
}

.thread-link > span {
    width: 100%;
    font-size: 12px;
}

.post {
    display: block;
    width: 100%;
    border: 1px solid #ecf0f1;
    border-bottom: 0;

    color: #100000;
    line-height: 23px;
    font-size: 12px;
}

.post:last-child {
    border-bottom: 1px solid #ecf0f1;
}

.post:after {
    display: table;
    content: '';
    clear: both;
}

.post-user {
    width: 20%;
    float: left;
    padding: 10px;

    text-align: center;
}

.post-user > img {
    display: block;
    width: 64px;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.post-user > a {
    font-size: 12px;
    text-decoration: none;
    color: gray;
}

.post-user > a:hover {
    text-decoration: underline;
}

.post-data {
    width: 80%;
    float: right;
    border-left: 1px dashed #ecf0f1;
}

.post-meta {
    text-align: right;
    padding: 5px;
    background-color: #fcfcfc;
}

.post-content {
    padding: 10px;
}

.post-quote {
    width: 90%;
    margin-left: 9%;
    background-color: #2980b9;
    color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    position: relative;
}

.post-quote:before {
    right: 100%;
    top: 50%;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid rgba(236, 240, 241, 0);
    border-right-color: #2980b9;
    margin-top: -10px;
}

.post-quote-author {
    font-weight: 600;
    text-align: right;
}

.user-info {
    margin-top: 40px;
    text-align: center;
}

.user-info-image {
    border-radius: 50%;
    margin-bottom: 50px;
}

.user-info-latest-posts, .user-info-latest-threads, .user-info-latest-unknown {
    width: 30%;
    margin-right: 3%;
    border: 1px solid #ecf0f1;
    float: left;
    text-align: left;
}

.user-info-latest-posts {
    margin-left: 1.6666666667%;
}

.user-info-latest-unknown {
    margin-right: 1.6666666667%;
}

.user-info-latest-title {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ecf0f1;
    color: black;
    font-weight: 600;
}

.user-info-latest-entry {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ecf0f1;
    text-decoration: none;
    color: black;
}

.user-info-latest-entry:last-child {
    border-bottom: none;
}

.user-info-latest-entry:hover {
    background-color: #ecf0f1;
}

.reply-create {
    margin-bottom: 30px;
}

.reply-create:after {
    display: table;
    content: '';
    clear: both;
}

.reply-content {
    border: 1px solid #ecf0f1;
    padding: 10px;
    width: 100%;
    min-height: 200px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.reply-submit {
    float: right;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #2980b9;
    border: none;
    color: #ecf0f1;

    transition: background 0.3s;
}

.reply-submit:hover {
    background-color: #3498db;
}